@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

// - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
$redError: hsl(0, 100%, 66%);

$white: hsl(0, 0%, 100%);
$lightGrayViolet: hsl(270, 3%, 87%);
$darkGrayViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);
