@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background-image: url(../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  font-family: "Space Grotesk", sans-serif;
  main {
    display: flex;
    flex-direction: column;
    padding: 30px;
    aside {
      flex: 1 1 250px;
      position: relative;
      section {
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: absolute;
        &.frontCard {
          background-image: url(../images/bg-card-front.png);
          background-size: contain;
          bottom: 0;
          color: $white;
          display: flex;
          height: 157px;
          flex-direction: column;
          justify-content: space-between;
          width: 286px;
          img {
            width: 40px;
            height: auto;
          }
          article {
            footer {
              display: flex;
              justify-content: space-between;
            }
          }
        }
        &.backCard {
          align-items: flex-end;
          background-image: url(../images/bg-card-back.png);
          background-size: contain;
          color: $white;
          display: flex;
          height: 157px;
          justify-content: center;
          padding-right: 30px;
          right: 0;
          width: 286px;
        }
      }
    }
  }
}
