@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Space Grotesk", sans-serif;
}
